<div class="receipt" *ngIf="receipt">
  <!-- <div class="product" *ngFor="let p of receipt.productsInfo">
        Proizvod:{{p.name}} Kolicina:{{p.quantity}} Cena:{{p.price}}{{p.unit}} Porez:{{p.taxRate}}
    </div> -->
  <table class="table">
    <tr>
      <th>Proizvod</th>
      <th>Kolicina</th>
      <th>Cena</th>
      <th>Porez</th>
    </tr>
    <tr *ngFor="let p of receipt.productsInfo">
      <td>
        {{ p.name }}
      </td>
      <td>{{ p.quantity }}{{ p.unit }}</td>
      <td>
        {{ p.price }}
      </td>
      <td>{{ p.taxRate }}%</td>
    </tr>
  </table>
  <span> Cena bez poreza:{{ sumNo }} </span>
  <br />
  <span> Cena sa porezom:{{ sumYes }} </span>
  <br />
  <span> Nacin placanja:{{ receipt.paymentInfo.paymentType }} </span>
  <br />
  <span>Datum:{{ receipt.date.toString().substring(0,10) }}</span>
</div>
