<!-- code: string;
name: string;
taxRate: number;
company: User;
unit: string;
photo: string; -->

<!-- Допунски
подаци“ (необавезни) садрже информације о земљи порекла, страни назив артикла, 
баркод број, назив произвођача, царинску тарифу у %, информацију да ли се
примењује еко такса или акцизе (поља за потврду), жељене залихе на нивоу
предузећа (минималне и максималне), опис и декларација -->

<div class="globalForm">
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Opsti podaci </mat-panel-title>
        <mat-panel-description>
          Ovde unosite opste podatke o novom artiklu
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="infoForm">
        <mat-form-field class="" appearance="fill">
          <mat-label>Sifra artikla:</mat-label>
          <input matInput placeholder="12345678" [(ngModel)]="code" required />
          <mat-error *ngIf="!code || code.length == 0"
            >"Sifra artikla je obavezno polje"</mat-error
          >
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
          <mat-label>Naziv artikla:</mat-label>
          <input
            matInput
            placeholder="pomorandza"
            [(ngModel)]="name"
            required
          />
          <mat-error *ngIf="!name || name.length == 0"
            >"Naziv artikla je obavezno polje"</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Jedinica mere artikla</mat-label>
          <mat-select [(value)]="unit" required>
            <mat-option value="kg">kg</mat-option>
            <mat-option value="g">g</mat-option>
            <mat-option value="lb">lb</mat-option>
          </mat-select>
          <mat-error *ngIf="!unit || unit.length == 0"
            >"Jedinica mere artikla je obavezno polje"</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="company.additionInfo.pdv">
          <mat-label>Poreska stopa</mat-label>
          <mat-select [(value)]="taxRate" required>
            <mat-option value="20">Opsta (20%)</mat-option>
            <mat-option value="10">Posebna (10%)</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          *ngIf="company.additionInfo.category == 'ugostitelj'"
        >
          <mat-label>Tip artikla</mat-label>
          <mat-select [(value)]="type" required>
            <mat-option value="hrana">hrana</mat-option>
            <mat-option value="pice">pice</mat-option>
            <mat-option value="sirovina">sirovina</mat-option>
          </mat-select>
          <mat-error *ngIf="!unit || unit.length == 0"
            >"Jedinica mere artikla je obavezno polje"</mat-error
          >
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Dopunski podaci artikla </mat-panel-title>
        <mat-panel-description>
          Ovde dodajete dopunske podatke novog artikla(opciono)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="infoForm">
        <mat-form-field class="" appearance="fill">
          <mat-label>Zemlja porekla artikla</mat-label>
          <input matInput placeholder="Turska" [(ngModel)]="origin" />
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
          <mat-label>Strani naziv artikla</mat-label>
          <input matInput placeholder="orange" [(ngModel)]="originalName" />
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
          <mat-label>Barkod artikla</mat-label>
          <input matInput placeholder="123dqd1231dq" [(ngModel)]="barcode" />
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
          <mat-label>Naziv proizvodjaca artikla</mat-label>
          <input matInput placeholder="tuti fruti" [(ngModel)]="producer" />
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
          <mat-label>Carinska tariga artikla</mat-label>
          <input
            matInput
            type="number"
            placeholder="10"
            [(ngModel)]="customFee"
          />
          <span matSuffix>%</span>
        </mat-form-field>
        <section class="checkBoxSection">
          <mat-checkbox [(ngModel)]="ecoTax">eko taksa</mat-checkbox>
          <mat-checkbox [(ngModel)]="excise">akciza</mat-checkbox>
        </section>
        <mat-form-field class="" appearance="fill">
          <mat-label>Minimalna zaliha artikla</mat-label>
          <input
            matInput
            type="number"
            placeholder="10"
            [(ngModel)]="minStock"
          />
        </mat-form-field>
        <mat-form-field class="" appearance="fill">
          <mat-label>Maksimalna zaliha artikla</mat-label>
          <input
            matInput
            type="number"
            placeholder="100"
            [(ngModel)]="maxStock"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>O artiklu</mat-label>
          <textarea matInput [(ngModel)]="about"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Deklaracija artikla</mat-label>
          <textarea matInput [(ngModel)]="declaration"></textarea>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Cena i stanje robe </mat-panel-title>
        <mat-panel-description> Cena i stanje robe </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let info of warehouseInfo">
        Magacin id: {{ info.id }}
        <br />
        <div class="warehouses">
          <mat-form-field class="input" appearance="fill">
            <mat-label>nabavna cena:</mat-label>
            <input matInput type="number" [(ngModel)]="info.buyPrice" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>prodajna cena:</mat-label>
            <input matInput type="number" [(ngModel)]="info.sellPrice" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>stanje na lageru</mat-label>
            <input matInput type="number" [(ngModel)]="info.stocks" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>minimalna kolicina</mat-label>
            <input matInput type="number" [(ngModel)]="info.min" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>maksimalna kolicina</mat-label>
            <input matInput type="number" [(ngModel)]="info.max" />
          </mat-form-field>
        </div>
      </div>
      <div *ngFor="let info of objectInfo">
        Lokacija objekta: {{ info.location }}
        <br />
        <div class="warehouses">
          <mat-form-field class="input" appearance="fill">
            <mat-label>nabavna cena:</mat-label>
            <input matInput type="number" [(ngModel)]="info.buyPrice" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>prodajna cena:</mat-label>
            <input matInput type="number" [(ngModel)]="info.sellPrice" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>stanje na lageru</mat-label>
            <input matInput type="number" [(ngModel)]="info.stocks" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>minimalna kolicina</mat-label>
            <input matInput type="number" [(ngModel)]="info.min" />
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>maksimalna kolicina</mat-label>
            <input matInput type="number" [(ngModel)]="info.max" />
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Slika artikla </mat-panel-title>
        <mat-panel-description>
          Ovde dodajete sliku novog artikla(opciono)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="infoForm">
        <input hidden id="photoId" type="file" (change)="change($event)" />
        <label for="photoId" class="mat-button mat-raised mat-primary">
          <div *ngIf="!photo">Odaberite sliku</div>
          <div *ngIf="photo">Odabrali ste sliku: {{ photo.name }}</div>
        </label>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="submitButton">
    <button mat-raised-button color="primary" (click)="saveProduct()">
      Kreiraj novi artikal
    </button>
  </div>
</div>
