.infoForm {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-width: 250px;
}

.globalForm {
    width: 60%;
    min-width: 350px;
    margin: auto;
}

.submitButton {
    text-align: center;
    margin: auto;
    margin-top: 5%;
}