<h2>Promena sifre</h2>
<table>
  <tr>
    <td>stara sifra:</td>
    <td>
      <input
        type="password"
        id="oldPassword"
        name="oldPassword"
        class="form-control"
        required
        [(ngModel)]="oldPassword"
        #oldPasswordBinding="ngModel"
      />
      <div
        *ngIf="
          oldPasswordBinding.invalid &&
          (oldPasswordBinding.dirty || oldPasswordBinding.touched)
        "
        class="alert"
      >
        <div *ngIf="oldPasswordBinding.errors?.['required']">
          stara sifra je obavezno polje
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>sifra:</td>
    <td>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
        [(ngModel)]="password"
        #passwordBinding="ngModel"
      />
      <div
        *ngIf="
          passwordBinding.invalid &&
          (passwordBinding.dirty || passwordBinding.touched)
        "
        class="alert"
      >
        <div *ngIf="passwordBinding.errors?.['required']">
          sifra je obavezno polje
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>potvrdite sifru:</td>
    <td>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        class="form-control"
        required
        pattern="{{ password }}"
        [(ngModel)]="passwordConfirm"
        #passwordConfirmBinding="ngModel"
      />
      <div
        *ngIf="
          passwordConfirmBinding.invalid &&
          (passwordConfirmBinding.dirty || passwordConfirmBinding.touched)
        "
        class="alert"
      >
        <div *ngIf="passwordConfirmBinding.errors?.['required']">
          potvrda sifre je obavezno polje
        </div>
        <div *ngIf="passwordConfirmBinding.errors?.['pattern']">
          potvrda sifre i sifra moraju biti iste
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button
        (click)="changePassword()"
        [disabled]="passwordBinding.invalid ||passwordConfirmBinding.invalid || oldPasswordBinding.invalid">
        Promeni Sifru
      </button>
    </td>
  </tr>
</table>
<p>
  {{ message }}
</p>
