<div class="container">
  <mat-form-field class="element" appearance="fill">
    <mat-label>Unesite sifru:</mat-label>
    <input
      matInput
      [(ngModel)]="oldPassword"
      [type]="hideo ? 'password' : 'text'"
      class="form-control"
      required
      #oldPasswordBinding="ngModel"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hideo = !hideo"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideo"
    >
      <mat-icon>{{ hideo ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  
    <div
      *ngIf="
        oldPasswordBinding.invalid &&
        (oldPasswordBinding.dirty || oldPasswordBinding.touched)
      "
      class="alert"
    >
      <div *ngIf="oldPasswordBinding.errors?.['required']">
        sifra je obavezno polje
      </div>
    </div>
  </mat-form-field>
  
  <mat-form-field class="element" appearance="fill">
    <mat-label>Unesite sifru:</mat-label>
    <input
      matInput
      [(ngModel)]="password"
      [type]="hide ? 'password' : 'text'"
      class="form-control"
      required
      pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
      #passwordBinding="ngModel"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  
    <div
      *ngIf="
        passwordBinding.invalid &&
        (passwordBinding.dirty || passwordBinding.touched)
      "
      class="alert"
    >
      <div *ngIf="passwordBinding.errors?.['required']">
        sifra je obavezno polje
      </div>
      <div *ngIf="passwordBinding.errors?.['pattern']">
        sifra mora sadrzati barem jedno slovo, jedan broj, jedan specijalan
        karakter i da bude duzine od minimum 8 karaktera
      </div>
    </div>
  </mat-form-field>
  <mat-form-field class="element" appearance="fill">
    <mat-label>potvrdite sifru:</mat-label>
    <input
      matInput
      [(ngModel)]="passwordConfirm"
      [type]="hidec ? 'password' : 'text'"
      class="form-control"
      required
      pattern="{{ password }}"
      #passwordConfirmBinding="ngModel"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hidec = !hidec"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidec"
    >
      <mat-icon>{{ hidec ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <div
      *ngIf="
        passwordConfirmBinding.invalid &&
        (passwordConfirmBinding.dirty || passwordConfirmBinding.touched)
      "
      class="alert"
    >
      <div *ngIf="passwordConfirmBinding.errors?.['required']">
        potvrda sifre je obavezno polje
      </div>
      <div *ngIf="passwordConfirmBinding.errors?.['pattern']">
        potvrda sifre i sifra moraju biti iste
      </div>
    </div>
  </mat-form-field>
  <button
    (click)="changePassword()"
    [disabled]="
      passwordBinding.invalid ||
      passwordConfirmBinding.invalid ||
      oldPasswordBinding.invalid
    "
  >
    Promeni Sifru
  </button>
  <p class="alert">
    {{ message }}
  </p>
  
</div>
