<app-company-additional-info-page
  *ngIf="!user.additionInfo"
></app-company-additional-info-page>

<div *ngIf="user.additionInfo">
  <mat-tab-group>
    <mat-tab label="Roba i usluge">
        <app-all-products></app-all-products>
        <app-new-product></app-new-product>
      </mat-tab>
    <mat-tab label="Licni podaci">
      <app-company-info-page></app-company-info-page>
    </mat-tab>
    <mat-tab label="Narucioci">
      <app-company-partners-page></app-company-partners-page>
    </mat-tab>

  </mat-tab-group>
</div>
