<app-company-additional-info-page
  *ngIf="!user.additionInfo.pdv"
></app-company-additional-info-page>

<div *ngIf="user.additionInfo.pdv">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Izdavanje racuna">
      <app-receipt-page></app-receipt-page>
    </mat-tab>
    <mat-tab label="Pregled izvestaja">
      <app-statistics-page></app-statistics-page>
    </mat-tab>
    <mat-tab label="Roba i usluge">
      <app-all-products></app-all-products>
      <app-new-product></app-new-product>
    </mat-tab>
    <mat-tab label="Raspored stolova">
      <app-tables-page></app-tables-page>
    </mat-tab>
    <mat-tab label="Raspored artikala">
      <app-category-page></app-category-page>
    </mat-tab>
    <mat-tab label="Licni podaci">
      <app-company-info-page></app-company-info-page>
    </mat-tab>
    <mat-tab label="Narucioci">
      <app-company-partners-page></app-company-partners-page>
    </mat-tab>
  </mat-tab-group>
</div>
