<div class="allProducts" *ngIf="user">
  <app-product-card
    *ngFor="let product of user.products"
    [product]="product"
  ></app-product-card>
  <!-- <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page",
    (page)="pageEvent = handlePage($event)"
  >
  </mat-paginator> -->
  <div class="pagination">
    <div class="pButton">
      <button
        mat-flat-button
        color="primary"
        (click)="getData(false)"
        [disabled]="current == 0 ? true : null"
      >
        Previous
      </button>
    </div>
    <div class="pButton">
      <button
        mat-flat-button
        color="accent"
      >
        {{ current }}
      </button>
    </div>
    <div class="pButton">
      <button
        mat-flat-button
        color="primary"
        (click)="getData(true)"
        [disabled]="user.products.length < 10 ? true : null"
      >
        Next
      </button>
    </div>
  </div>
</div>
