.form{
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    /* width: fit-content; */
    max-width: 450px;
    min-width: 250px;
}

.warehouses{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 250px;
}
.input{
    width: fit-content;
}