<table class="table">
  <tr>
    <th>ime:</th>
    <th>prezime:</th>
    <th>korisnicko ime:</th>
    <th>broj telefona:</th>
    <th>naziv preduzeca:</th>
    <th>email:</th>
    <th>pib:</th>
    <th>maticni broj preduzeca:</th>
  </tr>
  <ng-container *ngFor="let company of companies">
    <tr>
      <td>
        {{ company.firstName }}
      </td>
      <td>
        {{ company.lastName }}
      </td>
      <td>
        {{ company.username }}
      </td>
      <td>
        {{ company.phone }}
      </td>
      <td>
        {{ company.email }}
      </td>
      <td>
        {{ company.username }}
      </td>
      <td>
        {{ company.pib }}
      </td>
      <td>
        {{ company.matBroj }}
      </td>
    </tr>
  </ng-container>
</table>

<table class="table table-dark table-striped">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">First</th>
       <th scope="col">Last</th>
       <th scope="col">Handle</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">1</th>
       <td>Mark</td>
       <td>Otto</td>
       <td>@mdo</td>
     </tr>
     <tr>
       <th scope="row">2</th>
       <td>Jacob</td>
       <td>Thornton</td>
       <td>@fat</td>
     </tr>
     <tr>
       <th scope="row">3</th>
       <td colspan="2">Larry the Bird</td>
       <td>@twitter</td>
     </tr>
   </tbody>
 </table>