<div class="login-container">
  <h1>Ulogujte se</h1>
  <mat-form-field class="" appearance="fill">
    <mat-label>Unesite korisnicko ime:</mat-label>
    <input matInput placeholder="korisnicko ime" [(ngModel)]="username" />
  </mat-form-field>

  <mat-form-field class="" appearance="fill">
    <mat-label>Unesite sifru:</mat-label>
    <input
      matInput
      [(ngModel)]="password"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button class="" mat-flat-button color="primary" (click)="login()">
    Uloguj se
  </button>
  <mat-error>{{message}}</mat-error>
</div>
