<div
  class="paymentForm"
  *ngIf="user && user.additionInfo.category != 'ugostitelj'"
>
  <app-finish-receipt
    [productsAdded]="productsAdded"
    *ngIf="state == 'closing'"
  ></app-finish-receipt>
  <div class="products" *ngIf="state == 'create'">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="filterItems($event)"
        placeholder="paprika"
        [(ngModel)]="filter"
        #input
      />
    </mat-form-field>
    <br />
    <mat-label>Odaberite magacin/objekat</mat-label>
    <mat-select [(ngModel)]="selectedObject" (ngModelChange)="change()">
      <mat-option [value]="m.id" *ngFor="let m of user.additionInfo.warehouses">
        Magacin:{{ m.id }}
      </mat-option>
      <mat-option
        [value]="m.location"
        *ngFor="let m of user.additionInfo.objects"
      >
        Objekat:{{ m.location }}
      </mat-option>
    </mat-select>
    <button mat-raised-button (click)="state = 'closing'">Zatvori racun</button>
    <app-receipt-view
      [receiptInfo]="productsAdded"
      [receipt]="null"
    ></app-receipt-view>
    <app-receipt-view [receipt]=""></app-receipt-view>
    <div *ngFor="let product of forDisplay" class="productsInfo">
      <app-product-card
        [product]="product"
        class="card"
        [btns]="false"
      ></app-product-card>
      <div class="info">
        <div class="price">Cena artikla: {{ price.get(product._id) }};</div>
        <div class="stocks">Zalihe artikla: {{ stocks.get(product._id) }};</div>
        <!-- <mat-label>Odaberite cenu artikla</mat-label> -->
        <!-- <mat-select [(ngModel)]="price">
          <mat-option
            [value]="m.sellPrice"
            *ngFor="let m of product.warehouseInfo"
            [disabled]="m.stocks < quantity[product._id]"
          >
            Magacin:{{ m.id }} - cena: {{ m.sellPrice }} - zalihe:
            {{ m.stocks }}
          </mat-option>
          <mat-option
            [value]="m.sellPrice"
            *ngFor="let m of product.objectInfo"
            [disabled]="m.stocks < quantity[product._id]"
          >
            Objekat:{{ m.location }} - cena: {{ m.sellPrice }} - zalihe:
            {{ m.stocks }}
          </mat-option>
        </mat-select> -->
        <mat-form-field class="input" appearance="fill">
          <mat-label>Kolicina proizvoda:</mat-label>
          <input
            matInput
            placeholder="naziv"
            type="number"
            [(ngModel)]="quantity[product._id]"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="addToReceipt(product)"
        >
          Dodaj na racun
        </button>
        <br />
        <span class="alert">{{ messages.get(product._id) }}</span>
      </div>
    </div>
  </div>
</div>
<app-receipt-table-page
  *ngIf="user && user.additionInfo.category == 'ugostitelj'"
></app-receipt-table-page>
